body {
  background-color: #f1f1f1;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.encabezado {
  display: flex;
  align-items: center;
}

.encabezado  #cesta {
  position: absolute;
  right: 5%;
}

.productos {
  width: 90%;
  background-color: #fff;
  padding: 1em;
}

.productos > div {
  margin-bottom: 2em;
}

.herramienta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.info p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.info img {
  width: 24px;
  margin: 0 4px;
}

#unidades {
  background-color: orange;
  border-radius: 50%;
  padding: 0.2em 0.5em;
  font-weight: bold;
  margin-left: 1em;
}

.nombre-producto {
  font-size: 1.5em;
  font-weight: bold;
}

.nombre-producto::after {
  content: ":";
}
